/* CSS for the Scroll Only */

@media (max-width: 1024px) { /* lg breakpoint in Tailwind */
    /* Scrollbar Track */
  .hospital_page ::-webkit-scrollbar {
      height: 10px; 
      width: 10px; 
    }
  
    /* Scrollbar Track */
    .hospital_page ::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 5px;
    }
  
    /* Scrollbar Handle */
    .hospital_page ::-webkit-scrollbar-thumb {
      background: #8770BC; 
      border-radius: 5px;
    }
  
    /* Scrollbar Handle on Hover */
    .hospital_page ::-webkit-scrollbar-thumb:hover {
      background: #6b56a7; 
    }

    #HospitalComparison .grid 
    {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  min-width: 800px;
    }
  }
  
